.research{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
    width: 80%;
}
.research .tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 3%;
}
.research .tabs a{
    border: 1px solid var(--second);
    color: var(--second);
    padding: 0.8% 2%;
    margin-right: 2%;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
.research .tabs a:hover{
    border: 1px solid var(--count);
    color: var(--count);
}
.research .tabs a.active{
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--count);
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}
.card-container .card{
    flex: 1 1 30rem;
    background-color: var(--white);
    width: min-content;
    border: 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    width:fit-content;
    padding-bottom: 2%;
    box-shadow: inset 0px 0rem 5px rgba(0, 0, 0, 0.073);
}

.card-container .card .content{
    position: absolute;
    top: 0;
    left: -800%;
    height: 76.5%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    color: #fff;
    background: #033b4ab8;
    transition: 0.8s ease;
}
.card-container .card .content a{
    background-color: var(--teal);
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
}
.card-container .card .content a:hover{
    background-color: var(--white);
    color: var(--teal);
}
.card-container .card:hover .content {
    left: 0;
    display: flex;
}
.card-container .card img{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}
.card-container .card p{
    color: var(--gray);
    font-size: 1.5rem;
    margin-bottom: 0rem;
}
.card-container .card h2{
    color: var(--second);
    font-size: 2rem;
    margin-bottom: 0rem;
}



/* media query */
@media (max-width: 1440px) {
    .card-container .card .content{
        height: 76.2%;
    }
  }
@media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }
  @media (max-width: 1024px) {
    .card-container .card .content{
        height: 75.3%;
    }
    .card-container .card h2{
        font-size: 1.5rem;
    }
  }
  @media (max-width: 768px) {
    .research .tabs{
        flex-wrap: wrap;
    }
    .research .tabs a{
        flex: 1 1 20rem !important;
        margin-top: 2%;
    }
    .card-container .card .content{
        height: 78.3%;
    }
  }
  @media (max-width: 450px) {
    .research .tabs a{
        flex: 1 1 9rem !important;
        padding: 0.8%;
    }
    .card-container .card .content{
        height: 81.5%;
    }
  }
  @media (max-width: 395px) {
    .card-container .card .content{
        height: 80.1% !important;
    }
  }
  @media (max-width: 320px) {
    .card-container .card .content{
        height: 78.2% !important;
    }
  }