.slider-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 2%;
}
.slider-section .slider-container{
    width: 77%;
    margin: auto;
}
.slider-section .slider-container .slider-head{
   padding-top: 2%;
}
.slider-section .slider-container .slider-head p{
    color: var(--gray);
    font-size: 1.5rem;
    margin-bottom: 2%;
}
.slider-section .slider-container .slider-head h3{
    color: var(--second);
    font-size: 4rem;
    margin-bottom: 2%;
}
.slider-section .slider-container .card{
    background-color: var(--white);
    width: min-content;
    border: 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    padding: 4%;
    /* box-shadow: 0 1rem 2rem rgba(0,0,0,0.1); */
    box-shadow: inset 0px 0rem 5px rgba(0, 0, 0, 0.073);
    margin-left: 2%;
}
.slider-section .slider-container .card .content{
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 78%;
    width: 92%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    background: #033b4ab8;
    transition: .8s ease;
    margin: 4%;
}
.slider-section .slider-container .card .content a{
    background-color: var(--teal);
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
}
.slider-section .slider-container .card .content a:hover{
    background-color: var(--white);
    color: var(--teal);
}
.slider-section .slider-container .card:hover{
    background-color: var(--teal);
    transition: 2s ease;
}
.slider-section .slider-container .card:hover .content {
    /* left: 0; */
    bottom: 16.5%;
}
.slider-section .slider-container .card:hover p,.slider-section .slider-container .card:hover h2{
    color: var(--white) ;
}
.slider-section .slider-container .card img{
    width: 24rem;
    height: 30rem;
    margin-bottom: 5%;
}
.slider-section .slider-container .card p{
    color: var(--gray);
    font-size: 1.5rem;
    margin-bottom: 0rem;
}
.slider-section .slider-container .card h3{
    color: var(--second);
    font-size: 3rem;
    margin-bottom: 0rem;
}
.swiper{
    padding-top: 6rem !important;
    height: 45rem;
}
.buttons{
    display: flex;
    width: min-content;
    position: absolute;
    right: 0;
    top: 0rem;
}
.buttons button{
    width: 5rem;
    height: 3.6rem;
    margin-left: 10%;
    background-color: var(--white);
    color: var(--second);
    font-size: 1.3rem;
    border: 1px solid var(--second);
}
.buttons button:hover{
    background-color: var(--teal);
    color: var(--white);
    border: 1px solid var(--teal);
}