.carousel-control-next-icon, .carousel-control-prev-icon {
    background-position: 50% !important;
    background-size: 35% 35% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 6rem !important;
    border-radius: 50px !important;
    height: 6rem !important;
}
.carousel-indicators{
    bottom: 10% !important;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 12%;
    left: 11% !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    width: 45%;
    height: 61%;
    /* font-size: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.carousel-caption p{
    font-size: 15px;
    text-align: left;
}
.carousel-caption img{
    margin-right: 1rem;
}
.carousel-caption h3{
    font-size: 6rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: left;
}
.carousel-caption span{
    color: var(--teal);
}
.carousel-caption button{
    font-size: 1.5rem;
    width: 20rem;
    height: 5rem;
    padding: 2%;
    color: var(--white);
    border: 1px solid var(--white);
    background: none;
}
.carousel-caption button:hover{
    color: var(--second);
    background: var(--white);
}
/* end carousel */
/* start icons */
.icons-section{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 25rem;
    position: relative;
    margin-top: -10rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-section .icons-container{
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons-section .icons-container .icons-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    background-color: var(--light);
    border: 1px solid rgba(0, 0, 0, 0.045);
    padding: 3% 2%  0% 2%;
    width: 25%;
    overflow-y: hidden;
    /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.045); */
}
.icons-section .icons-container .icons-box:hover{
    background-color: var(--teal);
    padding-bottom: 3%;
    transition: 0.5s ease;
    border: 1px solid var(--white);
}
.icons-section .icons-container .icons-box:hover .basic-icon{
    color: var(--white);
    transition: 0.1s ease;
}
.icons-section .icons-container .icons-box:hover .link{
    left: 0;
}
.icons-section .icons-container .icons-box:hover .title h5{
    color: var(--white);
    transition: 0.1s ease;
}
.icons-section .icons-container .icons-box:hover .title p{
    color: var(--white);
    transition: 0.1s ease; 
}
.icons-section .icons-container .icons-box .basic-icon{
    color: var(--teal);
    font-size: 3.5rem;
}
.icons-section .icons-container .icons-box .title h5{
    font-size: 2rem;
    color: var(--second);
}
.icons-section .icons-container .icons-box .title p{
    font-size: 1.2rem;
    color: var(--gray);
}
.icons-section .icons-container .icons-box .link{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50px;
    background-color: var(--white);
    color: var(--teal);
    transition: 1s ease;
    position: relative;
    left: -800%;
}
.icons-section .icons-container .icons-box .link:hover{
    background-color: var(--second);
}
/* end icons */
/* start counter */
.img-count{
    position: relative;
    background-color: var(--light);
}
.img-count img{
    height: 53rem;
}
.countup{
    background-color: var(--count);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
    margin: auto;
    width: 60%;
    /* float: right; */
    padding: 4%;
    position: absolute;
    right: 0;
    top: 10%;
}
.countup p{
    font-size: 13px;
    color: var(--light);
    text-transform: uppercase;
}
.countup h3{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2%;
}
.countup .count-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    /* border: 0px solid red */

}
.countup .count-container .count-box{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: left;
    flex: 1 1 25rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    padding: 2%;
}
.countup .count-container .count-box:nth-child(3){
    border-right: 0px;
}
.countup .count-container .count-box:nth-child(6){
    border-right: 0px;
    border-bottom: 0px;
}
.countup .count-container .count-box:nth-child(5){
    border-bottom: 0px;
}
.countup .count-container .count-box:nth-child(4){
    border-bottom: 0px;
}
.countup .count-container .count-box i{
    font-size: 3rem;
    height: 5rem;
}
/* end counter */
/* media query */
@media (max-width: 1200px) {
html {
    font-size: 55%;
}
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
.carousel-item{
    height: 45rem;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 4rem !important;
    height: 4rem !important;
}
.carousel-caption {
    width: 60%;
    height: 55%;
    top: 4%;
}
.carousel-caption h3{
    font-size: 5rem;
}
.carousel-indicators{
    bottom: 6% !important;
}
/* start icons */
.icons-section{
    margin-top: -7rem;
    height: 25rem !important;
}
.icons-section .icons-container{
    gap: 2rem !important;
    width: 100%;
}
.icons-section .icons-container .icons-box{
    padding: 2% 2%  0% 2%;
    width: 25%;
}
/* start counter */
.img-count img{
    height: 40.8rem;
}
.countup{
    padding: 2%;
    top: 10%;
}
.countup h3{
    margin-top: 1%;
}
.countup .count-container{
    margin-top: 1%;
}
.countup .count-container .count-box{
    flex: 1 1 15rem;
    padding: 1%;
}
/* end counter */
}
@media (max-width: 450px) {
.carousel-item{
    height: 70rem;
}
/* start icons */
.icons-section{
    margin-top: -5rem !important;
    height: 60rem !important;
}
.icons-section .icons-container{
    width: 80% !important;
    gap: 1rem;
    flex-wrap: wrap;
}
.icons-section .icons-container .icons-box{
    flex: 1 1 15rem;
}
/* start counter */
.img-count img{
    height: 100% !important;
}
.countup{
    width: 100%;
    padding: 2%;
    position: relative;
}
.icons-section .icons-container .icons-box{
    padding-bottom: 3%;
}

/* end counter */
}
@media (max-width: 385px) {
.countup .count-container .count-box{
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    flex: 1 1 20rem !important;
}
.countup{
    margin-bottom: 10%;
}
}
@media (max-width: 320px) {
    .icons-section{
        margin-top: -7rem;
        height: 60rem !important;
    }
    .icons-section .icons-container{
        width: 90% !important;
    }
    .countup .count-container .count-box{
        flex: 1 1 14rem !important;
    }
}